body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* css variables */

:root {
  --primary-color: #1e86ff;
  --primary-color-lite: #e1efff;
  --text-black: #333;
  --color-secondary: #9E9E9E;
}


/* common css */

button.MuiButton-containedPrimary {
  background-color: var(--primary-color);
}

.MuiSvgIcon-root.MuiSvgIcon-colorSecondary {
  color: var(--color-secondary);
}

/* toast position css */
.toast-position {
  top: 70px;
}